    .bg
      {
          background: linear-gradient(#00224D, #0F0F0F);
          animation:gradient-animation 18s ease infinite;
      }

    .typewriter
    {
      color:#fff;
        font-family: monospace;/* Web-safe typewriter-like font */
        overflow: hidden;/* Ensures the content is not revealed until the animation */
        border-right: .17em solid pink;/* The typewriter cursor */
        white-space: nowrap;/* Keeps the content on a single line */
        margin: 0 auto;/* Gives that scrolling effect as the typing happens */
        letter-spacing: .17em;/* Adjust as needed */
        animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
    }
    /* The typing effect */
    @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
    }
    /* The typewriter cursor effect */
    @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    100% {
      border-color: white;
    }
    }

    p{
    color:#64ffda;
    }

    .project-top
    {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 35px;

         .folder
         {
            color: var(--#64ffda);

            svg {
                width: 40px;
                height: 40px;
            }
         }
    }

    .project-links
    {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-right: -10px;
        color: var(--light-slate);

        a{
            color: var(--#ffbd39);
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 5px 7px;

            svg .feather.feather-external-link {
            width: 22px;
            height: 22px;
            margin-top: -4px;
            color: var(--light-slate);
        }

        svg{
            width: 25px;
            height: 25px;
        }

    }

